textarea {
  font-size: 24pt;
  width: 1000px;
  height: 100px;
}

body {
  font-family: "DejaVu Sans";
  font-size: 14pt;
}

input {
  /* font-family: 'Baloo Bhaina', sans-serif; */
  font-size: 20pt;
  width: 55px;
}

div.row {
  clear: left;
  margin: 5px;
  padding: 5px;
}

span.key {
  float: left;
  width: 60px;
}
